@model  Prueba10.Models.Entrada
@{
    ViewBag.Title = "Eliminar - Entrada";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<br />
<h4>Gestion de Marcacion</h4>
<div class="alert alert-@ViewBag.alerta"> - - <b>@ViewBag.res</b> - - </div>
<form action="/Entrada/Eliminar" method="post">
    <input type="hidden" id="id" name="id" value="@Model.id_ent" />
    <table>
        <tr>
            <td style="padding:10px">Marcacion</td>
            <td style="padding:10px"><input value="@Model.dia_ent" readonly class="form-control" type="date" name="dia" id="dia" required /></td>
        </tr>
        <tr>
            <td style="padding:10px">Tipo de Marcacion</td>
            <td style="padding:10px"><input value="@Model.Tipo1" readonly class="form-control" type="text" name="tipo" id="name" required /></td>
        </tr>
        <tr>
            <td style="padding:10px">Empleado</td>
            <td style="padding:10px"><input value="@Model.id_emp" readonly class="form-control" type="text" name="tra" id="tra" required /></td>
        </tr>
        <tr>
            <td style="padding:10px"></td>
            <td style="padding:10px">
                <button class="btn btn-success" type="submit" name="btn10" id="btn10"><span class="glyphicon glyphicon-save">Agregar</span></button>
                <button class="btn btn-primary" type="reset" name="btn11" id="btn11"><span class="glyphicon glyphicon-remove">Resetear</span></button>
                <a class="btn btn-danger" href="~/Empleado/Index"><span class="glyphicon glyphicon-backward"> Regresar</span></a>
            </td>
        </tr>
    </table>

</form>